*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Space Mono', monospace;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
}

/* TYPOGRAPHY */
:root {

    // mobile
    --paragraph-mobile: 1.3rem;

    // desktop
    --heading: 2.6rem;
    --heading-secondary: 2.2rem;
    --heading-tertiary: 1.6rem;
    --heading-quarternary: 1.3rem;
    --paragraph: 1.5rem;
    }

body {
    background: #C5E4E7;
}

h1, h2, h3, p, button, ul, li {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

h3 {
    color: #5E7A7D;
    font-size: 1.6rem;
}